<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mainstyles.css">
    
    <title>
        Meeting Details
    </title>

</head>

<body>
    <%- include ('partials/navbar.ejs') %> 
    <div class="container">
        <% for( let i=meetDetails.length - 1; i>= 0; i-- ) { %>

            <div class="content">
                <header class="heading">
                    <h2><a href="/meetings/<%= meetDetails[i].meetid %>"> Showing <%= meetDetails[i].meeting.meetid %> Meet ID Details</a></h2>
                </header>

                <div class="UID">
                    <div id="UID">
                        UID 1
                    </div>
                    <div>
                        <%= meetDetails[i].user1.uid %>
                    </div>
                </div>
                <div class="username">
                    <div id="username">
                        User Name
                    </div>
                    <div>
                        <%= meetDetails[i].user1.username %>
                    </div>
                </div>
                <div class="UID">
                    <div id="UID">
                        UID 2
                    </div>
                    <div>
                        <%= meetDetails[i].user2.uid %>
                    </div>
                </div>
                <div class="username">
                    <div id="username">
                        User Name
                    </div>
                    <div>
                        <%= meetDetails[i].user2.username %>
                    </div>
                </div>
                <div class="date">
                    <%= meetDetails[i].meeting.date %>
                </div>
            </div>
            <% } %>
    </div>
    <%- include ('partials/credentials') %>
</body>

</html>